@charset "utf-8";
/* CSS Document */

/*Police d'écriture*/

@font-face {
	font-family: 'Oswald';
	src: url('../font/Oswald-Light.ttf') format('truetype');
}

html	{
	font-family: 'Oswald', sans-serif;
	height: 100%;
}

/* Zone bannière +  navigation */ 

#ZoneBanniere {
	background-color: black;
	height: 70px;
	top: 0; left: 0; right: 0;
	font-family: 'Oswald', sans-serif;
	color: white;
	position: fixed;
	z-index: 3;
}


/* Zone de contenu de la page */

#supportArticle	{
	background-color: #FFF;
	width: 80%;
	margin-left: 10%;
	padding-top: 70px;
	position: fixed;
	z-index: 1;
	position: absolute;
}

#zoneArticle	{
	width: 80%;
	margin-left: 8.7%;
	margin-top: 20px;
	z-index: 2;
}

/* bannière gauche : menu */

#banniereGauche	{
	margin-top: -10px;
	display: inline-block;
}

#banniereGauche h1 {

	font-size: 200%;
	padding-left: 30px;
	font-weight: bold;
	text-decoration : none;

}

#banniereGauche a {
	text-decoration: none;
	color : white;
}

/* Boutton Menu déroulant */

#boutonMenu	{
	background-image: url('../images/iconeMenu.png');
	width: 30px; height: 30px;
	background-repeat: no-repeat;
	background-size: 100%;
	border: none;
	float: left;
	top: 0; left: 0;
	cursor: pointer;
	margin-left: 45px;
	margin-top: 5px;
}

/* Bannière droite : connexion + Contact */

#banniereDroite {
	display: inline-block;
	font-size: 80%;
	top: 0; right:0;
	position: absolute;
}


#banniereDroite a {
	text-decoration: none;
	color: grey;
}

#banniereDroite h2 {
	margin-top: 23px;	
	margin-right: 30px;
}

#boutonUtilisateur	{
	background-image: url('../images/utilisateurs.png');
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-size: 100%;
	border: none;
	cursor: pointer;
	float: right;
	margin-right: 50px;
}

#boutonConnnected	{
	background-image: url('../images/iconeDisconnect.png');
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-size: 100%;
	border: none;
	cursor: pointer;
	float: right;
	margin-right: 50px;
}


body	{
	
	background-color : grey;
	height: 100%;
	margin : 0px;
}

/* Menu déroulant */

#menu	{
	width: 153px;
	background-color: black;
	color: white;
	border: black;
	font-family: 'Oswald', sans-serif;
	position: fixed;
 	float: left;
	z-index: 3;
}

#menu a	{
	text-decoration: none;
	color: white;
}

#menu a:hover	{
	color: orange;
}

#menu li, ul {
	background-color: black;
}

#menuNav	{
	display : none;
	background-color: black;
	top: 0; left: 0;
	float: left;
	margin-left: 0px;
	margin-top: 70px;
}

/* Gestion du responsive */

@media (max-width: 768px)	{
	
	#ZoneBanniere h1, h2, a	{
		display: none;
	}
	#boutonMenu	{
		margin-top: 25px;	
	}
	
	#boutonUtilisateur	{
		margin-top: 7px;	
	}
	#zoneArticle	{
		width: 100%;
		margin-left: 0px;
	}
	#supportArticle	{
		width: 100%;
		margin-left: 0px;
	}
}