@charset "utf-8";

/*
	###########################
	##  Partie style commun  ##
	###########################
*/

/*Police d'écriture*/

@font-face {
	font-family: 'Oswald';
	src: url('../font/Oswald-Light.ttf') format('truetype');
}

html	{
	font-family: 'Oswald', sans-serif;
	height: 100%;
}

/* Zone bannière +  navigation */ 

#ZoneBanniere {
	background-color: black;
	height: 70px;
	top: 0; left: 0; right: 0;
	font-family: 'Oswald', sans-serif;
	color: white;
	position: fixed;
	z-index: 3;
}


/* Zone de contenu de la page */

#supportArticle	{
	background-color: #FFF;
	width: 80%; height: 100%;
	margin-left: 10%;
	padding-top: 70px;
	position: fixed;
	z-index: 1;
	position: fixed;
}

#zoneArticle	{
	width: 80%;
	margin-left: 8.7%;
	margin-top: 20px;
	z-index: 2;
}

/* bannière gauche : menu */

#banniereGauche	{
	margin-top: -10px;
	display: inline-block;
}

#banniereGauche h1 {

	font-size: 200%;
	padding-left: 30px;
	font-weight: bold;

}

/* Boutton Menu déroulant */

#boutonMenu	{
	background-image: url('../images/iconeMenu.png');
	width: 30px; height: 30px;
	background-repeat: no-repeat;
	background-size: 100%;
	border: none;
	float: left;
	top: 0; left: 0;
	cursor: pointer;
	margin-left: 45px;
	margin-top: 5px;
}

/* Bannière droite : connexion + Contact */

#banniereDroite {
	display: inline-block;
	font-size: 80%;
	top: 0; right:0;
	position: absolute;
}

#banniereDroite a {
	text-decoration: none;
	color: grey;
}

#banniereDroite h2 {
	margin-top: 23px;	
	margin-right: 30px;
}

#boutonUtilisateur	{
	background-image: url('../images/utilisateurs.png');
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-size: 100%;
	border: none;
	cursor: pointer;
	float: right;
	margin-right: 50px;
}

#boutonConnnected	{
	background-image: url('../images/iconeDisconnect.png');
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-size: 100%;
	border: none;
	cursor: pointer;
	float: right;
	margin-right: 50px;
}


body	{
	
	background-color : grey;
	height: 100%;
	margin : 0px;
}

/* Menu déroulant */

#menu	{
	width: 153px;
	background-color: black;
	color: white;
	border: black;
	font-family: 'Oswald', sans-serif;
	position: fixed;
 	float: left;
	z-index: 3;
}

#menu a	{
	text-decoration: none;
	color: white;
}

#menu a:hover	{
	color: orange;
}

#menu li, ul {
	background-color: black;
}

#menuNav	{
	display : none;
	background-color: black;
	top: 0; left: 0;
	float: left;
	margin-left: 0px;
	margin-top: 70px;
}

/* Gestion du responsive */

@media (max-width: 768px)	{
	
	#ZoneBanniere h1, h2, a	{
		display: none;
	}
	#boutonMenu	{
		margin-top: 25px;	
	}
	
	#boutonUtilisateur	{
		margin-top: 7px;	
	}
	#zoneArticle	{
		width: 100%;
		margin-left: 0px;
	}
	#supportArticle	{
		width: 100%;
		margin-left: 0px;
	}
}


/*
	############################
	##  Partie style accueil  ##
	############################
*/

/*Titre Index */

#titreIndex {
	padding-top : 2%;
		text-align : center;
}

#titreIndex h1 {
	font-size: 60px;
	margin-top : 0;
	margin-bottom : 0;
}

#titreIndex h2 {
		margin-top : 0;
}

#titreIndex p {
	font-style : italic;
}

#titreIndex img {
	padding-top : 3%;
	width : 10%;

	}
	
/* Paragraphe de présentation */

#Actualites {
	margin-left : 8%;
	margin-right : 8%;

}

#Actualites h1 {
	font-size : 20px;
	margin-left : 45.8%;
	margin-top: 20px;
}

#Actualites img {
	width : 25%;
	float : left;
	padding-right : 1.5%;

}

/* Menu Index */

#LogoMenu {
	padding-top : 6%;
	float : right;
	z-index : 3;
}

#LogoMenu tr {

	float : right;
	margin-right :15%;
	padding-right : 0;

}

#LogoMenu td img{
	margin-left: 50%;
}

/* Partie connexion */

.accueilConnect	{
	margin-left: 48%;
}

.globalChampConnectAccueil	{
	text-align: center;
	width: 15em; height: 2em;
	margin-bottom: 2em;
	margin-left: 38%;
}

/*
	##########################
	##  Partie style Popup  ##
	##########################
*/

#fade {
	display: none;
	background: black;
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: .80;
	z-index: 9999;
}

#popup	{
	display : none;
	background: white;
	width: 500px; height: 500px;
	left: 30%; top: 12%;
	padding: 20px;
	border: 20px solid grey;
	float: left;
	font-size: 1.2em;
	position: fixed;
	z-index: 99999;
	box-shadow: 0px 0px 20px black;
	border-radius: 10px;
}

#exitPopupCross	{
	top: 0; right: 0;
	float: right;
	width: 20px;
	cursor: pointer;
}

@media (max-width: 1024px)	{
	#popup	{
		padding-bottom: 300px; padding-top: 10%;
		width: 100%; heigth: 100%;
		top: 0; left: 0; right: 0;
		border: none; border-radius: 0px;
	}
	
	#exitPopupCross	{
		top: 5%; right: 13%;
		float: right;
		width: 20px;
		cursor: pointer;
		position: absolute;
	}
}

/* Popup connexion */

#username, #password	{
	text-align: center;
	width: 15em; height: 2em;
	margin-bottom: 2em;
}

#popup	{
	display: block;
	float: left;
	text-align: center;
}

#username	{
	margin-top: 6em;
}

#submitConnect	{
	background-image: url('../images/iconeConnect.png');
	width: 30px; height: 30px;
	background-repeat: no-repeat;
	background-size: 100%;
	border: none;
	cursor: pointer;
}

#registerLink	{
	margin-top: 2em;
}

/* Popup Add */

#popup	{
	display: block;
	float: left;
	text-align: center;
}

#addAuteur, #addNom, #addDate, #addType, #addCategorie	{
	text-align: center;
	width: 15em; height: 2em;
	margin-bottom: 2em;
}

#submitAdd	{
	background-image: url('../images/sendAdd.png');
	width: 30px; height: 30px;
	background-repeat: no-repeat;
	background-size: 100%;
	border: none;
	cursor: pointer;
}

/* Popup remove */

#popup	{
	display: block;
	float: left;
	text-align: center;
}

#remOui	{
	width: 40px;
	height: 40px;
	background-image: url('../images/check.png');
	background-repeat: no-repeat;
	background-size: 100%;
	border: none;
	cursor: pointer;
}

#remNon	{
	width: 40px;
	height: 40px;
	background-image: url('../images/crossNon.png');
	background-repeat: no-repeat;
	background-size: 100%;
	border: none;
	cursor: pointer;
}

#remList	{
	list-style-type: none;
}