@charset "utf-8";

#gestDoc	{
	text-align: center;
	margin-left: 50px;
	padding-bottom: 100px;
}

#gestDocTab td	{
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
		
}

#buttonGestDoc	{
	float: right;
}

#buttonGestDoc button	{
	width: 60px; height: 60px;
}

#addDoc	{
	background-image: url(../images/ajouter-boutton.png);
}

#remDoc	{
	background-image: url(../images/supprimer-boutton.png);
}

#addDoc, #remDoc {
	background-repeat: no-repeat;
	background-size: 100%;
	border: none;
	cursor: pointer;
	margin-left: 30px;
	transition: all 1s;
}

#addDoc:hover {
	background-image : url(../images/ajouter-boutton-neg.png);
}

#remDoc:hover {
	background-image: url(../images/supprimer-boutton-neg.png);
}

.tdGestDoc	{
	border: 1px solid black;
}