@charset "utf-8";
/* CSS Document */

#fade {
	display: none;
	background: black;
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: .80;
	z-index: 9999;
}

#popup	{
	display : none;
	background: white;
	width: 500px; height: 500px;
	left: 30%; top: 12%;
	padding: 20px;
	border: 20px solid grey;
	float: left;
	font-size: 1.2em;
	position: fixed;
	z-index: 99999;
	box-shadow: 0px 0px 20px black;
	border-radius: 10px;
}

#exitPopupCross	{
	top: 0; right: 0;
	float: right;
	width: 20px;
	cursor: pointer;
}

@media (max-width: 1024px)	{
	#popup	{
		padding-bottom: 300px; padding-top: 10%;
		width: 100%; heigth: 100%;
		top: 0; left: 0; right: 0;
		border: none; border-radius: 0px;
	}
	
	#exitPopupCross	{
		top: 5%; right: 13%;
		float: right;
		width: 20px;
		cursor: pointer;
		position: absolute;
	}
}

/* Popup connexion */

#popup	{
	display: block;
	float: left;
	text-align: center;
}

#username, #password	{
	text-align: center;
	width: 15em; height: 2em;
	margin-bottom: 2em;
}

#username	{
	margin-top: 6em;
}

#submitConnect	{
	background-image: url('../images/iconeConnect.png');
	width: 30px; height: 30px;
	background-repeat: no-repeat;
	background-size: 100%;
	border: none;
	cursor: pointer;
}

#registerLink	{
	margin-top: 2em;
}

/* Popup Add */

#popup	{
	display: block;
	float: left;
	text-align: center;
}

#addAuteur, #addNom, #addDate, #addType, #addCategorie	{
	text-align: center;
	width: 15em; height: 2em;
	margin-bottom: 2em;
}

#submitAdd	{
	background-image: url('../images/sendAdd.png');
	width: 30px; height: 30px;
	background-repeat: no-repeat;
	background-size: 100%;
	border: none;
	cursor: pointer;
}

/* Popup remove */

#popup	{
	display: block;
	float: left;
	text-align: center;
}

#remOui	{
	width: 40px;
	height: 40px;
	background-image: url('../images/check.png');
	background-repeat: no-repeat;
	background-size: 100%;
	border: none;
	cursor: pointer;
}

#remNon	{
	width: 40px;
	height: 40px;
	background-image: url('../images/crossNon.png');
	background-repeat: no-repeat;
	background-size: 100%;
	border: none;
	cursor: pointer;
}

#remList	{
	list-style-type: none;
}